<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875927030104-sdeens7tq78cu9mdfhpq2mitoc5e51mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875927030104-sdeens7tq78cu9mdfhpq2mitoc5e51mv</string>
	<key>API_KEY</key>
	<string>AIzaSyCS3OJa-xpdyhkb15oK7SJCLV2Qr3IEHkY</string>
	<key>GCM_SENDER_ID</key>
	<string>875927030104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ladycare.ladycare</string>
	<key>PROJECT_ID</key>
	<string>lady-care-ksa</string>
	<key>STORAGE_BUCKET</key>
	<string>lady-care-ksa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875927030104:ios:59ad2f20ecb222443bfd2d</string>
</dict>
</plist>